.section-container-outer {
  border-bottom: 1px solid #f2f2f2;
  display: flex;
  justify-content: center;
}

.section-container-inner {
  margin: 140px 48px 140px 48px;
  width: 1000px;
  display: flex;
  flex-direction: column;
}

.landing-section-background {
  height: 100vh;
  background-image: url('./assets/landing-background.jpg');
  background-size: cover;
}
